* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition-duration: 0.9 ;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.normal{
    background: rgb(31, 31, 31);
}
body.cloud{
    background-color: #0f6176;
}
body.clear{
    background-color: #a767228a;
}

.top{
    display: flex;
    
}
.time{
    background-color: rgba(81, 92, 103, 0.5);
    display: flex;
    margin-bottom: 30px;
    margin-left: 5px;
    padding: 11px;
    border-radius: 10px;
    cursor: pointer; 
}
.time:hover{
    transform: scale(1.09);
}

.time span{
    margin-left: 5px;
}
.date{
    background-color: rgba(81, 92, 103, 0.5);
    display: flex;
    margin-bottom: 30px;
    margin-left: 25px;
    padding: 11px;
    border-radius: 10px;
    cursor: pointer;
    
}
.date:hover{
    transform: scale(1.09);
}
.card{
    border: 5px solid #0000007f;
    width: 300vw;
    max-width: 460px;
    background: linear-gradient(135deg, #5d9fbd, #b95a40);
    color: #ffffff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    transform-origin: 0% 0% 0px;
    margin: auto;
    margin-top: 20vh;
    
}
.card.cloud {
    background: linear-gradient(135deg, #879a9e, #2596b2);
}
.card.clear {
    background: linear-gradient(135deg, #c0ae6c, #b16501);
}
.card.rain {
    background: linear-gradient(135deg, #515c67, #4b7fe09e);
}


.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #e1e1e1;
    padding: 10px 25px;
    height: 60px;
    border-radius:30px ;
    font-size: 18px;
}

.search input::placeholder{
    color: rgb(0, 0, 0);
    opacity: 70%;
}

.search button{
    border: 0;
    outline: 0;
    background: #e1e1e1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    
    
}

.search button.grise {
    background-color: #b5b5b5;
}
.search button.hover:hover{
    background-color: #b5b5b5;
}
.search button img{
    width: 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: 10px;

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    font-size:20px ;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 30px;
    margin-top: -6px;

}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.nom{
    margin-bottom: 20px;
    opacity: 70%;
}
@media only screen and (max-width: 600px) {

    .card{
        scale: 0.7;
    }
    
}

